* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    font-weight: 100;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.highliter * {
    font-size: 0.75rem;
}

.highliter {
    position: relative;
    width: min-content;
}

.highliter-interface {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.highliter-input {
    width: 15rem;
    padding: 0.5rem 0.75rem;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: none;
}

.highliter-input:focus {
    border-color: black;
}

::placeholder {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.35);
}

.highliter-clear,
.highliter-search {
    cursor: pointer;
}

.highliter-clear {
    position: absolute;
    right: 3.25rem;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.65);
    display: none;
}

.visible {
    display: block;
}

.highliter-search {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
}

.highliter-content {
    margin-top: 1rem;
    line-height: 1.9;
    text-align: justify;
    color: rgba(0, 0, 0, 0.7);
}

.highlight {
    background-color: gold;
    padding: 0.15rem;
}